extends ../layout.pug

block vars
  -var title = 'service-workers-caching-on-network-response-schema'

block title
        |  Caching On Network Response
block content       
       img(src="img/on-network-response.png")  
       p
         a.credits(href="https://developers.google.com/web/fundamentals/instant-and-offline/offline-cookbook/", target="_blank")
            | Image from Jake Archibald`s offline cookbook