extends ../layout.pug

block vars
  -var title = 'sw-caching-strategies'

block title
        |  Caching strategies
block content 
       div.bgImages      
          img(src="img/on-push.png")  
          img(src="img/on-activate.png")            
          img(src="img/on-install-dep.png")  
          img(src="img/on-install-not.png")  
          img(src="img/ss-cache-then-network.png")           
          img(src="img/sw-side-templating.png")  
          img(src="img/generic-fallback.png")            
          img(src="img/stale-while-revalidate.png")  
          img(src="img/on-network-response.png")  
          img(src="img/cache-falling-back-to-network.png")  
          img(src="img/network-falling-back-to-cache.png")  
          img(src="img/network-only.png")  
          img(src="img/on-bg-sync.png")  
          img(src="img/cache-only.png")  
          img(src="img/on-user-interaction.png")  
          img(src="img/on-push.png")  
          
       div.overlay.fragment
        ul

         li
          |There are many caching strategies
         li.fragment
           a(href="https://developers.google.com/web/fundamentals/instant-and-offline/offline-cookbook/", target="_blank")
            | Jake Archibald`s The offline cookbook
         li.fragment
           a(href="https://github.com/GoogleChrome/sw-precache", target="_blank")
            | SW-Precache
         li.fragment
           a(href="https://github.com/GoogleChrome/sw-toolbox", target="_blank")
            | SW-Toolbox