extends ../layout.pug

block vars
  -var title = 'cache-only'

block title
        |  Cache only
block content       
       img(src="img/cache-only.png")  
       p
         a.credits(href="https://developers.google.com/web/fundamentals/instant-and-offline/offline-cookbook/", target="_blank")
            | Image from Jake Archibald`s offline cookbook