extends ../layout.pug

block vars
  -var title = 'service-workers-caching-static-files-schema'

block title
        |  Caching Static Files
block content       
       img(src="img/on-install-dep.png")  
       p
         a.credits(href="https://developers.google.com/web/fundamentals/instant-and-offline/offline-cookbook/", target="_blank")
            | Image from Jake Archibald`s offline cookbook