extends ../layout.pug

block vars
  -var title = 'service-workers-life-cycle'

block title
        | Service Worker Life Cycle 
block content       
         img(src="img/sw-lifecycle.png")  
         p
           a.credits(href="https://developers.google.com/web/fundamentals/getting-started/primers/service-workers", target="_blank")
            | Image from Google Web Fundamentals
            