extends ../layout.pug

block vars
  -var title = 'race'

block title
        |  Race Cache and Network
block content       
       img(src="img/cache-and-network-race.png")  
       p
         a.credits(href="https://developers.google.com/web/fundamentals/instant-and-offline/offline-cookbook/", target="_blank")
            | Image from Jake Archibald`s offline cookbook