extends ../layout.pug

block vars
  -var title = 'more-tools'

block title
        |  and many more tools like
block content           
       
      ul   
         li.fragment
           a(href="https://app-manifest.firebaseapp.com/", target="_blank")
            | Manifest generator 
         li.fragment
           a(href="https://www.npmjs.com/package/sw-offline-google-analytics", target="_blank")
            | Offline Google Analitics
         li.fragment
           a(href="https://workboxjs.org/#get-started", target="_blank")
            | Workboxjs   
         