extends ../layout.pug

block vars
  -var title = 'Lighthouse-raport-accessibility'

block title
        |  Lighthouse
block content                       
          img.plain(src="img/lh-access.PNG")  