extends ../layout.pug

block vars
  -var title = 'workbox'

block title
        |  New kind on the block - 
        a(href="https://workboxjs.org/", target="_blank")
          | Workbox
block content           
      ul   
         li
            | The next version of sw-precache & sw-toolbox 
         li
            | Focus on modularity - smaller, standalone modules  
         li
            | Cross-browser compatible  
         li
            | Easy to integrate in build process + cli available
         