extends ../layout.pug

block vars
  -var title = 'engaging'

block title
        |  Engaging  
block content         
        ul.no-bullet
          li.no-bullet 
            img(src="img/engaging.png")    
          li Web Push Protocol
          li Service Workers
          