extends ../layout.pug

block vars
  -var title = 'notification-types'

block title
        | Notification types
block content       
        ul
          li.fragment.no-bullet        
            img(src="img/notification-simple.png")  
          li.fragment.no-bullet             
            img(src="img/notification-with-vibration.png")  
          li.fragment.no-bullet               
            img(src="img/notification-with-icon.png")  
          li.fragment.no-bullet               
            img(src="img/notification-with-action.png")   
            
