extends ../layout.pug

block vars
  -var title = 'file-api'

block title
        | File system /File API.
block content          
    ul
        li not yet widely supported
        li specification in progress
        li 
            a(href="http://w3c.github.io/FileAPI") File Api specfication

 
       
