extends ../layout.pug

block vars
  -var title = 'websql'

block title
        | WebSQL 
block content       
    ul        
        li.fragment 
            | Asynchronous
        li.fragment 
            | Size limit : 2,5 ~5 MB
        li.fragment 
            | Strings only
        li.fragment 
            | Pre defined schema  
        li.fragment 
            | Quick search
        li.fragment.red
            | Deprecated    

       
