extends ../layout.pug
block vars
  -var title = 'is-sw-ready'

block title
        | Is Service Worker ready
block content       
    img(src="img/is-sw-ready.png")
    p.quote
        a(href="https://jakearchibald.github.io/isserviceworkerready/")  Is Service Worker ready
    
  
        
    