extends ../layout.pug

block vars
  -var title = 'service-workers'

block title
        |  Service Workers
block content    
        ul
          li
            |Give developers the moving parts to solve their problems
          li
            |Alow to create own caching patterns
          li
            |Can only be used over HTTPS (excluding localhost)  
          li
            |Hijack connections
          li
            |Fabricate, and filter responses
          