extends ../layout.pug
block vars
  -var title = 'can-I-use-sw'

block title
        | Can I use Service Workers
block content       
    img(src="img/caniuse.jpg")
    p.quote
        a(href="http://caniuse.com/#search=service%20Worker")  Can I use
    
  
        
    