extends ../layout.pug

block vars
  -var title = 'current-mobile-web'

block title
        | Current State of Mobile Web
block content       
        ul
                li.fragment Responsive Web Design  
                        img(src="img/2012.jpg") 
                li.fragment Mobile first
                li.fragment Mobile version of web page