extends ../layout.pug

block vars
  -var title = 'pwa-sw'

block title
        |  Service Worker
block content 
    div.fragment
        p.just
            | A service worker is a script that your browser runs in the background, separate from a web page, opening the door to features that don't need a web page or user interaction. 
            | Today, they already include features like 
            strong 
            | push notifications 
            | and 
            strong 
            | background sync. 
            | In the future service workers will support other things like periodic sync or geofencing.
        
        span.small
           a(href="https://developers.google.com/web/fundamentals/getting-started/primers/service-workers")  Developers Google     
  
