extends ../layout.pug

block vars
  -var title = 'pwa-example'

block title
        |  Example
block content 
  
   img.plain(src="img/pwagif.gif" height="500px")  
   p.quote(style="margin:0")
          | taken from  
          a(href="") Google Web Fundamentals    
