extends ../layout.pug

block vars
  -var title = 'pwa-example'

block title
        |  Example
block content 
  
   img(src="img/pwagif.gif" height="450px")  
   p.quote
          | taken from  
          a(href="https://developer.mozilla.org/en-US/Apps/Progressive") gossiplus.com    
