extends ../layout.pug

block vars
  -var title = 'summary'

block title
        | Long Story Short
block content       
    h3 Progressive Web Apps are
    ul
        li.fragment websites / webapps
        li.fragment with some new features 
        li.fragment with mobile App use and feel
        li.fragment framework agnostic