extends ../layout.pug

block vars
  -var title = 'pwa-components'

block title
        |  PWA Components
block content 
      ul
       li.fragment
        | Service Worker  
       li.fragment
        | manifest.json 
       li.fragment
        | app shell

  
