extends ../layout.pug

block vars
  -var title = 'progressive-web-apps'

block title
        | Progressive Web Apps
block content       
    ul.fragment
        li is a new way to deliver amazing user experiences on the web. 
           span.credits.ml30
                a(href="https://developers.google.com/web/progressive-web-apps/?hl=en")  Google    
        li is term used to denote a new software development methodology. Unlike traditional applications, progressive web apps are a hybrid of regular web pages (or websites) and a mobile application (...).
            span.credits.ml30
                a(href="https://en.wikipedia.org/wiki/Progressive_web_app") Wikipedia    
        li  are like good old web sites but better. In a modern browser they exhibit super–powers
            span.credits.ml30
                a(href="https://developer.mozilla.org/en-US/Apps/Progressive") Mozilla    
        
    