extends ../layout.pug

block vars
  -var title = 'why-should-we-care'

block title
        | Why should we care  
block content          
    p.fragment
        | Nine talks during Google I/0 2016  and seven during Google I/O 2017       

    div.fragment        
            img(src="img/usage.jpg") 
            p.quote
                | picture taken from  
                a(href="https://youtu.be/U52dD0tegsA?t=282") Building Progressive Web Apps Today (Chrome Dev Summit 2016) Video       