extends layout.pug

block vars
  -var title = 'agenda'

block title
        | Agenda
block content       
        table 
            tr
                td.fragment
                    ul
                        li.fragment Introduction
                        li.fragment Service Workers
                        li.fragment Caching options
                        li.fragment Storage
                        li.fragment Push Notification
                        li.fragment Tooling                        
                