extends ./layout.pug
block vars
  -var title = 'is-sw-ready'

block title
        a(href="https://hnpwa.com/", target="_blank")
          | Hacker News PWA
block content       
        ul
          li
            | A spiritual successor to TodoMVC
          li
            | Each implementation is a complete Progressive Web App
          li
            | Different frameworks
          li
            | Different performance patterns and tools