extends ./layout.pug
block vars
  -var title = 'is-sw-ready'

block title
      a(href="https://gist.github.com/addyosmani/44678d476b8843fd981ff8011d389724", target="_blank")
          | Routes splitting
block content       
        ul
          li
            a(href="https://medium.com/@adamrackis/vendor-and-code-splitting-in-webpack-2-6376358f1923", target="_blank")
              | Tools  
          li
            | But also you need to 
            a(href="https://github.com/webpack/webpack/issues/4636", target="_blank")
              | watch  
            a(href="https://github.com/webpack/webpack/issues/4716", target="_blank")
              | out
